__pycache__
.DS_Store
JointIDSF_XLM-Rencoder_SLU/
JointIDSF_XLM-Rencoder_SLU_full/
JointIDSF_PhoBERTencoder_SLU_full/
JointIDSF_PhoBERTencoder_SLU_dropout_01_train09/
JointIDSF_PhoBERTencoder_SLU_dropout_03_train08/
JointIDSF_PhoBERTencoder_SLU_dropout_03_train09/ 
JointIDSF_PhoBERTencoder_SLU_dropout_02_loss_025_train09/
JointIDSF_PhoBERTencoder_SLU_dropout_02_train09/
JointIDSF_PhoBERTencoder_SLU_dropout_0.15_augmented/
JointIDSF_PhoBERTencoder_SLU_loss_0.5_dropout_0.15_hidden_180_train_09/
JointIDSF_PhoBERTencoder_SLU_loss_0.85_dropout_0.15_hidden_180_train_09/
test.txt
test_out.txt
run.txt
input.txt
post-process/
run_jointBERT-CRF_XLM-Rencoder.sh
run_jointIDSF_XLM-Rencoder.sh
data/
slu_data_1/train09.jsonl
slu_data_1/train08.jsonl
slu_data_1/data-process/label 
slu_data_1/data-process/seq.in 
slu_data_1/data-process/seq.out
slu_data_1/data-process/label_augmented
slu_data_1/data-process/seq_augmented.in 
slu_data_1/data-process/seq_augmented.out
slu_data_1/data-process/seq_augmented.in 
slu_data_1/data-process/seq_augmented.out
slu_data_1/data-process/extracted_text.txt
slu_data_1/data-process/intent_device_mapping.jsonl
slu_data_1/data-process/random_sentences.jsonl
predictions.jsonl 
Submission.zip
input.txt 
output.txt
process_trans_file.txt 
process_trans_file_new.txt
transcript_add_c.txt 
transcript_new_1.txt
transcript.txt
sentence.txt
predict.sh
final_trans.txt